.team-card-set {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--third-bgr-color);
}

.team-card-set__title {
  @include font(700, 36px, 1.17);
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.team-card-set__list {
  display: flex;
}

.team-card-set__item:not(:last-child) {
  margin-right: 30px;
}
